.env
envs/*.env
!envs/*.env.example
!.env.example

*.bak_*

/data/
/postgres_data/
/redis_data/
/minio_data/
/chatwoot_storage/
/n8n_storage/
/evolution_instances/

/traefik_certs/
acme.json

.idea/
.DS_Store
Thumbs.db

start.sh
stop.sh

docker-compose.yml