# --- GENERAL CONFIGURATION --- For more configuration options check out: https://docs.typebot.io/self-hosting/configuration

#   Make sure to change this to your own random string of 32 characters (https://docs.typebot.io/self-hosting/deploy/docker#2-add-the-required-configuration)
ENCRYPTION_SECRET=nULlynwPGk6OcPHjQBPC8dhOqAly4hYZ

#	The builder base URL
NEXTAUTH_URL=http://builder-typebot.local

#   The viewer base URL
NEXT_PUBLIC_VIEWER_URL=http://viewer-typebot.local


# --- DATABASE URL ---
# DATABASE_URL=postgresql://postgres:typebot@typebot-db:5432/typebot

# --- REDIS (OPCIONAL) ---
# Used to rate limit the sign in requests based on user IP and enable multiple media upload on WhatsApp
REDIS_URL=redis://redis-chatbot:6379


#   The admin email (used for account recovery)
ADMIN_EMAIL=admin@chatbot.local

#   Disable user signup (default: false)
DISABLE_SIGNUP=false


# --- SMTP (DIRECIONADO AO MAILPIT) ---
SMTP_USERNAME=mailpit
SMTP_PASSWORD=mailpit
SMTP_HOST=mailpit-chatbot
SMTP_PORT=1025
# From name and email (i.e. 'Typebot Notifications' <notifications@host.com>)
NEXT_PUBLIC_SMTP_FROM=notifications@chatbot.local
# If true the connection will use TLS when connecting to server. If false (the default) then TLS is used if server supports the STARTTLS extension. In most cases set this value to true if you are connecting to port 465. For port 587 or 25 keep it false
SMTP_SECURE=false
# If true and SMTP_SECURE is false then TLS is not used while connecting to server even if server supports STARTTLS extension. (default: undefined)
SMTP_IGNORE_TLS=true
# To disable the authentication by email but still use the provided config for notifications (default: false)
SMTP_AUTH_DISABLED=true


# --- GITHUB OAUTH (OPCIONAL) ---
GITHUB_CLIENT_ID=Ov23liyp9EwIAHx00stZ
GITHUB_CLIENT_SECRET=591c877f53cb6b261398ab1bb40ff5b4578de70a


# --- S3 STORAGE (MINIO INTERNO) ---
# Used for uploading images, videos, etc… It can be any S3 compatible object storage service (Minio, Digital Oceans Space, AWS S3…)
S3_ACCESS_KEY=admin
S3_SECRET_KEY=R8sYMcfnSnLtRj4n
S3_BUCKET=typebot
S3_PORT=9000
S3_ENDPOINT=minio-chatbot
S3_SSL=false
S3_REGION=us-east-1
S3_PUBLIC_CUSTOM_DOMAIN=http://console-minio.local


# --- GIPHY API (OPCIONAL) --- 
# Obtenha sua chave aqui: https://developers.giphy.com/dashboard/
NEXT_PUBLIC_GIPHY_API_KEY=GIPHY_API_KEY


# --- UNSPLASH API (OPCIONAL) ---
# Used to search for images. You can create an Unsplash app here
# https://unsplash.com/documentation#creating-an-app
NEXT_PUBLIC_UNSPLASH_APP_NAME=UNSPLASH_APP_NAME
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=UNSPLASH_ACCESS_KEY

